.container {
    width: 50%;
    height: 450px;
    background-color: aqua;
    margin: 0 auto;
}

.header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.center {
    text-align: center;
}